.certification {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  color: var(--text-green);
  letter-spacing: 1.5px;
  align-items: center;
  padding: 3rem 10rem;
}

.certification_heading {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-green);
  padding-bottom: 16px;
}

.certification_description {
  font-size: 16px;
  color: var(--text-black);
}

.certificatesWrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.certificatesWrapper::-webkit-scrollbar {
  display: none;
}

.certificatesWrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.certificateCard {
  padding: 14px;
  width: 100%;
  height: 300px;
  background: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  border: 1px solid #e0e0e0;
}

.certificateCard:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.certificateCard img {
  width: 200px;
  height: 200px;
  margin-bottom: 8px;
}

.certificateCard p {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .certification {
    padding: 1rem;
  }
}
