.certification {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  color: var(--text-green);
  letter-spacing: 1.5px;
  align-items: center;
  padding: 3rem 10rem;
}

.certificatesWrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: flex-start;
  margin: 0 1rem;
  padding-bottom: 5rem;
}

.certificatesWrapper::-webkit-scrollbar {
  display: none;
}

.certificatesWrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.certificateCard {
  padding: 14px;
  width: 100%;
  background: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  border: 1px solid #e0e0e0;
}

.certificateCard:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 25px 0px;
  transition: 0.5s;
}

.certificateCard img {
  width: 200px;
  height: 200px;
  margin-bottom: 8px;
}

@media (max-width: 1024px) {
  .certification {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .certification {
    padding: 1rem;
  }

  .certificateCard img {
    width: 150px;
    height: 150px;
  }
}
