/* CARD CONTAINER */
.cardContainer {
  width: 100%;
  max-width: 260px;
  height: 300px;
  perspective: 1000px;
  margin: 0 auto;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardInner.flipped {
  transform: rotateY(180deg);
}

.card {
  background: var(--FormBg);
  border: 1px solid var(--CardShadow);
  box-shadow: 0 2px 12px var(--CardShadow);
  border-radius: 5px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardFront {
  gap: 30px;
}

.cardBack {
  transform: rotateY(180deg);
  background: var(--light-bg);
}

.cardContainer:hover .card {
  box-shadow: 0 10px 24px var(--CardShadow);
}

/* IMAGE */
.imageWrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.image {
  padding: 6px;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 50%;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.details_btn {
  background-color: var(--text-green);
  color: var(--text-white);
  background-color: var(--white-bg);
  color: var(--text-green);
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  width: fit-content;
}

.details_btn:hover {
  background-color: var(--text-green);
  color: var(--text-white);
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-black);
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cardContainer {
    max-width: 200px;
    height: 230px;
  }

  .imageWrapper {
    width: 120px;
    height: 120px;
  }

  .title {
    font-size: 0.95rem;
  }
}
