.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  padding: 1rem 10rem 3rem 10rem;
  transition: opacity 0.25s ease;
}

/* Simple fade animations */
.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.products_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 10rem;
}

.tabs_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  gap: 1rem;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tooltipWrapper {
  position: relative;
  display: inline-block;
}

/* Tooltip box */
.tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(4px);
  background-color: var(--text-black);
  color: #fff;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 4px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

/* Tooltip arrow */
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: var(--text-black) transparent transparent transparent;
}

/* Show on hover */
.tooltipWrapper:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.tab {
  padding: 4px 10px;
  border-radius: 8px;
  background-color: var(--white-bg);
  color: var(--text-green);
  font-size: 12px;
  border: 1px solid var(--border);
  cursor: pointer;
  transition: all 0.2s ease;
}

.tab:hover {
  background-color: var(--text-green);
  color: var(--text-white);
  opacity: 0.9;
}

.active {
  background-color: var(--text-green);
  color: var(--text-white);
  border-color: var(--text-green);
}

/* Hide dropdown on desktop */
.tabsDropdown {
  display: none;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.loadMoreBtn {
  padding: 10px 24px;
  border-radius: 999px;
  border: 1px solid var(--border);
  background-color: var(--text-green);
  color: var(--text-white);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.loadMoreBtn:hover {
  background-color: transparent;
  color: var(--text-green);
}

@media (max-width: 1024px) {
  .tabs_wrapper {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  .grid {
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .products_header {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* Hide tabs */
  .tabs {
    display: none;
  }

  /* Show dropdown */
  .tabsDropdown {
    display: block;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--border);
    font-size: 12px;
    color: var(--text-green);
    background-color: var(--white-bg);
  }
}
