.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  padding: 1rem 10rem;
}

.products_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 10rem;
}

.tabs_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  gap: 1rem;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tab {
  padding: 4px 10px;
  border-radius: 8px;
  background-color: var(--white-bg);
  color: var(--text-green);
  font-size: 12px;
  border: 1px solid var(--border);
  cursor: pointer;
  transition: all 0.2s ease;
}

.active {
  background-color: var(--text-green);
  color: var(--text-white);
  border-color: var(--text-green);
}

/* Hide dropdown on desktop */
.tabsDropdown {
  display: none;
}

@media (max-width: 1024px) {
  .tabs_wrapper {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  .grid {
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .products_header {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* Hide tabs */
  .tabs {
    display: none;
  }

  /* Show dropdown */
  .tabsDropdown {
    display: block;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--border);
    font-size: 12px;
    color: var(--text-green);
    background-color: var(--white-bg);
  }
}
