@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  --button-bg: #2e5d38;
  --hover-bg: #244927;
  --white-bg: #ffffff;

  --text-black: #000000;
  --text-green: #244927;
  --text-white: #fff;
  --text-grey: #6c757d;
  --text-glow: #d4af37;

  --fs-12: clamp(10px, 1.5vw, 12px);
  --fs-14: clamp(12px, 1.8vw, 14px);
  --fs-16: clamp(14px, 2vw, 16px);
  --fs-20: clamp(16px, 2.4vw, 20px);
  --fs-60: clamp(32px, 6vw, 60px);
  --fs-30: clamp(22px, 3.6vw, 30px);
  --fs-56: clamp(32px, 5.5vw, 56px);

  --font-mont: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont;
  --font-play: "Playfair Display", serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 80px;
}

@media (max-width: 768px) {
  main {
    padding-top: 120px;
  }
}
