.hero {
  width: 100%;
  background-image: url("../../assets/images/rice-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  letter-spacing: 1px;
}

/* Overlay */
.overlay {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}

/* LEFT-ALIGNED CONTENT */
.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text-white);
  max-width: 1000px;
}

.ctaBtn {
  background-color: var(--button-bg);
  color: var(--text-white);
  border: none;
  padding: 12px 26px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
}

.ctaBtn:hover {
  background-color: var(--hover-bg);
}

.about {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  color: var(--text-green);
  align-items: center;
  padding: 3rem 10rem;
}

/* Responsive */
@media (max-width: 1024px) {
  .content {
    padding-left: 1.25rem;
    max-width: 100%;
  }

  .about {
    padding: 1rem;
  }

  .ctaBtn {
    padding: 10px 20px;
    font-size: 14px;
  }
}
