.hero {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../../public/assets/images/rice-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Overlay */
.overlay {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}

/* LEFT-ALIGNED CONTENT */
.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text-white);
  margin-top: 5rem;
  max-width: 1000px;
}

/* Text styles */
.smallText {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-glow);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.title {
  font-size: 60px;
  color: var(--text-white);
  font-weight: 700;
  line-height: 1.2;
}

.description {
  font-size: 20px;
  line-height: 1.7;
  color: var(--text-white);
}

.ctaBtn {
  background-color: var(--button-bg);
  color: var(--text-white);
  border: none;
  padding: 12px 26px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
}

.ctaBtn:hover {
  background-color: var(--hover-bg);
}

.about {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  color: var(--text-green);
  letter-spacing: 1.5px;
  align-items: center;
  padding: 3rem 10rem;
}

.rice_heading {
  font-size: 48px;
  color: var(--text-black);
  line-height: 1.2;
  padding-bottom: 10px;
}

.rice_highlight {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-green);
}

.rice_description {
  font-size: 14px;
  color: var(--text-grey);
}

/* Responsive */
@media (max-width: 768px) {
  .content {
    padding-left: 1.25rem;
    max-width: 100%;
  }

  .title {
    font-size: 34px;
  }

  .description {
    font-size: 14px;
  }

  .smallText {
    font-size: 14px;
  }

  .ctaBtn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .about {
    padding: 1rem 1rem;
  }

  .rice_heading {
    font-size: 40px;
  }

  .rice_highlight {
    font-size: 20px;
  }
}
